.group-box-container{bottom:0;color:white;right:0;width:24em}

.cover-img-container{background:linear-gradient(90deg, #6a3093, #a044ff)}.cover-img-container .cover-img{max-height:600px}.cover-img-container .btn-go-to-documentation{background-color:#343a40 !important;border-radius:30px;color:white;font-size:medium;font-weight:bold;left:40%;right:40%;text-transform:uppercase;top:89%}

