body {
  font-family: monospace;
  overflow-x: hidden;
}

section {
    background-color: white;
}

.container-fluid {
  padding: 0;
}

.bd-navbar {
  position: sticky;
  bottom: 0;
  top: 0;
}

.btn-go-to-documentation {
    background-color: #343a40!important;
    border-radius: 30px;
    color: white;
    font-size: medium;
    font-weight: bold;
    left: 40%;
    right: 40%;
    text-transform: uppercase;
    top: 89%;
}

.group-box-container {
    bottom: 0;
    color: white;
    right: 0;    
    width: 24em
}