.cover-img-container
    background: linear-gradient(90deg, #6a3093, #a044ff)
    padding: 3% 0

    .cover-title
        calc(1.525rem + 3.3vw)

    .col-left-cover
        align-self: center

    .cover-bottom-row
        padding-bottom: 3%

    .cover-img
        max-height: 100%
    
    .btn-go-to-documentation
        background-color: #343a40!important
        border-radius: 30px
        color: white
        font-size: larger
        font-weight: bolder
        text-transform: uppercase
    