.comparison-section
    margin: 30px 0px

    .title-row
        margin-bottom: 40px

    .inside-container,
    .outside-container,
    .example-col
        height: 100px

    .example-col-outside,
    .outside-container
        background-color: sandybrown
        padding: 0

    .code-col
        position: relative
        left: 40%

    .primary-idented-tag
        margin-left: 20px

    .example-col-outside
        background-color: gold
        border: 2px solid darkmagenta

        span
            bottom: 25%
            position: relative
            top: 25%

    .outside-container
        .inside-container
            background-color: cornflowerblue