<template>
    <section class="cover-section">
        <div class="
            cover-img-container
            shadow-lg
            container-fluid
        ">
            <div class="row">
                <div class="offset-md-4 col-md-4 col-lg-4 offset-lg-4 col-lg-4">
                    <img class="cover-img img-fluid"
                        src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png">
                </div>
                <div class="js-group-names d-sm-none d-none d-md-none d-lg-block col-lg-4"></div>
            </div>
            <div class="row cover-bottom-row">
                <div class="offset-md-4 col-md-4 col-lg-4 offset-lg-4 col-lg-4">
                    <a 
                        href="https://getbootstrap.com/docs/4.0/getting-started/introduction/"
                        class="btn btn-go-to-documentation btn-lg active"
                        role="button"
                        aria-pressed="true"
                        target="_blank"
                    >
                        Documentation
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>