<template>
    <section class="cover-section">
        <div class="
            cover-img-container
            shadow-lg
            container-fluid
        ">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img class="cover-img img-fluid"
                    src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png">
            </div>
            <div class="col-left-cover col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-12">
                        <h1 class="cover-title text-white">Bootstrap</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="js-group-names col"></div>
                </div>
                <div class="row">
                    <div class="col-left-cover col-12">
                        <a 
                            href="https://getbootstrap.com/docs/4.0/getting-started/introduction/"
                            class="btn btn-go-to-documentation btn-lg active"
                            role="button"
                            aria-pressed="true"
                            target="_blank"
                        >
                            Documentation
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>