<head><link href="/css/index.css" rel="stylesheet"><link href="/css/cover.css" rel="stylesheet"><link href="/css/group_box.css" rel="stylesheet"></head><template id="group-box">
    <div class="group-box-container container position-absolute">
        <div class="row">
                <div class="col text-left">
                <p>Número usp</p>
            </div>
                <div class="col text-right">
                <p>Nome</p>
            </div>
        </div>
        {{#group}}
            <div class="row">
                <div class="col-3">
                    <p>{{usp_number}}</p>
                </div>
                <div class="col-9">
                    <p>{{name}}</p>
                </div>
            </div>
        {{/group}}
    </div>
</template><script type="text/javascript" src="/vendors.bundle.js"></script><script type="text/javascript" src="/index.bundle.js"></script><script type="text/javascript" src="/cover.bundle.js"></script><script type="text/javascript" src="/group_box.bundle.js"></script><script type="text/javascript" src="/introduction_section.bundle.js"></script><script type="text/javascript" src="/navbar.bundle.js"></script>