<template id="group-box">
    <div class="group-box-container container position-absolute">
        <div class="row">
                <div class="col text-left">
                <p>Número usp</p>
            </div>
                <div class="col text-right">
                <p>Nome</p>
            </div>
        </div>
        {{#group}}
            <div class="row">
                <div class="col-3">
                    <p>{{usp_number}}</p>
                </div>
                <div class="col-9">
                    <p>{{name}}</p>
                </div>
            </div>
        {{/group}}
    </div>
</template>