<template id="group-box">
    <div class="group-box-container">
        <div class="row">
            <div class="col">
                <span>Nº usp</span>
            </div>
                <div class="col">
                <span>Nome</span>
            </div>
        </div>
        {{#group}}
            <div class="row">
                <div class="col">
                    <span>{{usp_number}}</span>
                </div>
                <div class="col">
                    <span class="name-text">{{name}}</span>
                </div>
            </div>
        {{/group}}
    </div>
</template>