<template>
    <section id="instalation-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div>
                        <h4>Instalação</h4>
                        <i class="material-icons">
                            save_alt
                        </i>
                        <p class="description">
                            Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include documentation, but do include our build system and readme.
                        <p>
                    </div>
                    <figure>
                        <pre><code>$ npm install bootstrap</code></pre>
                        <pre><code>$ gem install bootstrap -v 4.4.1</code></pre>
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div>
                        <h4>BootstrapCDN</h4>
                        <i class="material-icons">
                            cloud_download
                        </i>
                        <p class="description">
                            Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include documentation, but do include our build system and readme.
                        <p>
                    </div>
                    <h5>CSS</h5>
                    <figure>
                        <pre class="pre-scrollable text-left"><code>&lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"&gt;</code></pre>
                    </figure>
                    <h5>JS, Popper.js, and jQuery</h5>
                    <figure>
                        <pre class="pre-scrollable">
<code>&lt;script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"&gt;&lt;/script&gt;</code>
<code>&lt;script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"&gt;&lt;/script&gt;</code>
<code>&lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"&gt;&lt;/script&gt;</code>
                        </pre>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</template>