<template>
    <section id="introduction-section">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-2 d-none d-sm-none d-md-none d-lg-block d-xl-block">Bootstrap</h1>
                        <h1 class="display-4 d-sm-block d-md-block d-lg-none d-xl-none">Bootstrap</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead">O Bootstrap é um <strong>framework open-source</strong> usado para desenvolvimento web front-end com html, CSS e JS.</p>
                        <p class="lead">Foi criado no Twitter no ano de <strong>2010</strong> por Mark Otto e @fat sendo lançado ao público em 19 de agosto de 2011, tendo desde então mais de 20 releases.</p>
                        <p class="lead">As versões 2 e 3 tiveram as maiores mudanças: no Bootstrap v2 o modo responsivo passa a ser uma opção de stylesheet, e a partir de sua versão 3, o Bootstrap passou a ser responsivo e com design <strong>mobile-first</strong> por padrão.</p>
                        <p class="lead">Atualmente, o framework se encontra em sua versão 4.4.1.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>