<template>
    <nav 
        class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" href="#cover-section">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active js-nav-item">
                    <a class="nav-link" href="#introduction-section">Introdução</a>
                </li>
                <li class="nav-item active js-nav-item">
                    <a class="nav-link" href="#why-bootstrap-section">Razoes</a>
                </li>
                <li class="nav-item active js-nav-item">
                    <a class="nav-link" href="#instalation-section">Instalação</a>
                </li>
                <li class="nav-item active js-nav-item">
                    <a class="nav-link" href="#responsive-section">Responsividade</a>
                </li>
                <li class="nav-item active js-nav-item">
                    <a class="nav-link" href="#components-section">Componentes</a>
                </li>
            </ul>
        </div>
    </nav>
</template>