<template>
    <section class="comparison-section">
        <div class="container-fluid">
            <div class="container">
                <div class="row title-row">
                    <div class="col">
                        <h1>Containers</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Os containers são o elemento de layout mais básico no Bootstrap e são necessários ao usar nosso sistema de grade padrão. Escolha entre um recipiente responsivo de largura fixa (o que significa que sua largura máxima muda em cada ponto de ruptura) ou largura de fluido (o que significa que é 100% de largura o tempo todo).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container outside-container">
                            <div class="container inside-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <figure>
                            <pre class="pre">
                                <code data-lang="html">
                                    <span class="tag">&lt;div</span>
                                    <span class="atributes"> class=</span>
                                    <span class="commas-word">"container"</span>
                                    <span class="tag">&gt;&lt;/div&gt;</span>
                                </code>
                            </pre>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="container-fluid outside-container">
                <div class="container-fluid inside-container">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <figure>
                            <pre class="pre">
                                <code data-lang="html">
                                    <span class="tag">&lt;div</span>
                                    <span class="atributes"> class=</span>
                                    <span class="commas-word">"container-fluid"</span>
                                    <span class="tag">&gt;&lt;/div&gt;</span>
                                </code>
                            </pre>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>