<template>
    <section id="responsive-section">
        <div class="container-fluid">
            <div class="container">
                <div class="row title-row">
                    <div class="col">
                        <h1>Containers</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Os containers são o elemento de layout mais básico no Bootstrap e são necessários ao usar nosso sistema de grade padrão. Escolha entre um recipiente responsivo de largura fixa (o que significa que sua largura máxima muda em cada ponto de ruptura) ou largura de fluido (o que significa que é 100% de largura o tempo todo).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container outside-container">
                            <div class="container inside-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <figure>
                            <pre class="pre">
                                <code data-lang="html">
                                    <span class="tag">&lt;div</span>
                                    <span class="atributes"> class=</span>
                                    <span class="commas-word">"container"</span>
                                    <span class="tag">&gt;&lt;/div&gt;</span>
                                </code>
                            </pre>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="container-fluid outside-container">
                <div class="container-fluid inside-container">
                </div>
            </div>
            <div class="container-fluid outside-container">
                <div class="container-fluid inside-container">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <figure>
                            <pre class="pre">
                                <code data-lang="html">
                                    <span class="tag">&lt;div</span>
                                    <span class="atributes"> class=</span>
                                    <span class="commas-word">"container-fluid"</span>
                                    <span class="tag">&gt;&lt;/div&gt;</span>
                                </code>
                            </pre>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row title-row">
                    <div class="col">
                        <h1>Grid</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>O sistema de grade do Bootstrap usa uma série de contêineres, linhas e colunas para fazer o layout e alinhar o conteúdo. Ele é construído com o flexbox e é totalmente responsivo. Abaixo está um exemplo e uma visão detalhada de como a grade se reúne.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            Escolha o tamanho
                        </label>
                        <select class="form-control js-select-qty-cols">
                            <option value="12">col-12</option>
                            <option value="11">col-11</option>
                            <option value="10">col-10</option>
                            <option value="9">col-9</option>
                            <option value="8">col-8</option>
                            <option value="7">col-7</option>
                            <option value="6">col-6</option>
                            <option value="5">col-5</option>
                            <option value="4">col-4</option>
                            <option value="3">col-3</option>
                            <option value="2">col-2</option>
                            <option value="1">col-1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container outside-container">
                            <div class="container inside-container js-cols-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <figure>
                            <pre class="pre js-code-col code-col text-left">
                            </pre>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>