pre
    overflow-y: hidden
    white-space: normal

    code
        text-align: unset
        white-space: nowrap

        .tag
            color: #2f6f9f

        .atributes
            color: #4f9fcf

        .commas-word
            color: #d44950