pre
    background-color: #212529
    border-radius: 4px
    color: white
    overflow-y: hidden
    padding: 10px
    white-space: normal

    .code-box
        padding: 15px 20px
        width: min-content

    code
        text-align: unset
        white-space: nowrap

        .tag
            color: #2f6f9f

        .atributes
            color: #4f9fcf

        .commas-word
            color: #d44950

.code-col
    line-height: 1.5
    display: inline-block
    vertical-align: middle

.primary-idented-tag
    margin-left: 20px

.secondary-idented-tag
    margin-left: 40px

.tertiary-idented-tag
    margin-left: 60px

.quaternary-idented-tag
    margin-left: 80px

.quinary-idented-tag
    margin-left: 100px

.pre-scrollable
    scrollbar-color: white;

@media screen and ( max-width: 500px )
    .code-col
        display: block